

@media (min-width: 576px) {
  .pull-right-sm{
    float: right;
    margin-left: 10px;
  }
}
 

@media (min-width: 768px){
  .ux-body{
    display: flex;
    
    
  }
  
  .page-content{
    flex: 3 3 auto;
    margin: 0rem 5rem;
    max-width: 60vw;
    padding: 1px 16px;
  }

  .sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    max-width: 20rem;
    height: 25rem;
    margin: 5.5rem 40px;
    padding: 25px;
    position: -webkit-sticky;
    position: sticky;
    top: 5.5rem;
    border: 1px solid #2571C9;
   
  }
  .list-style-sidebar{
    list-style-type: none;
    margin: 10px 0px;
    padding: 0px;
    
   
  } 

  .text-wrap-r{
    clear: left;
    float: right;
    margin: 10px;
  }
  
  .text-wrap-l{
    clear: right;
    float: left;
    margin: 10px;
  }

  .container{
    max-width: 60vw !important;
  }

  /* FOOTER */
  .footer-container{
    flex-direction: row;
  }

  .footer-links{
    margin: 4.5rem;
  }

  .footer-text-container{
    margin: 4.5rem;
  }
}


@media (min-width: 1025px){

  .page-content{
    max-width: 50vw;
  }

  .sidebar{
    max-width: 20rem;
  }

  .container{
    max-width: 50vw !important;
  }
}


@media (min-width: 1201px){

  .page-content{
    max-width: 40vw; 
  }

  .sidebar{
    max-width: 20rem;
  }

  .container{
    max-width: 40vw !important;
  }
}

