*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
}


.flex-card{
  display: flex;
  justify-content: space-between;
}

.card-body{
  max-width: 45%;
}

.border{
  border: 1px solid black;
}

.mt-15{
  margin-top: 75px;
}

h1{
  font-size: 4rem;
  text-justify: center;
}

h1#test-animation{
  font-size: 4rem;
  color: white; 
  padding: 2.5rem 0;
}

@keyframes change{
  from{background-color: black;}
  to{background-color: purple;}
  
}

#flex-test-animation{
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  animation: change 3s infinite;
  animation-direction: alternate;
}



h2{
  font-size: 2.1rem;
}

h3{
  font-size: 1.7rem;
}

p{
  font-size: 1.1rem;
}

a{
  font-size: 1.1rem;
  color:#8357F5;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #8357F5;
}

li{
  font-size: 1.1rem;
}

img{
  max-width: 250px;
}

.img-decoration{
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .11);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .11);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .11);
}

#pronouns{
  font-size: 1.5rem;
  font-style: italic;
}

.border-secondary {
  border-width: 3px !important;
}


#project-cards:hover{
  animation: color-fade .5s;
  animation-fill-mode: forwards;
}


#home-page{

  display: flex;
  justify-content: center;
  align-content: center;
  height: 90vh;
  background-color: black;
  
  border: solid black 2px;

}

/* IFRAME */
.responsive-container{
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* FOOTER */
.footer-background{
  background-color: #404040;
  height: 20vh;
}

.footer{
  flex-shrink: 0;

  
}

.content{
  flex: 1 0 auto;
}
/* UTILITIES */
#HMW{
  font-weight: bold;
  font-size: 1.1rem;
}

h1#home{
  align-self: center;
  font-size: 4rem;
  color: purple;
  text-align: center;
}

.icons{
  font-size: 1.3rem;
  color: white;
}

.divider{
  border-top: 3px solid #8357F5;
  border-radius: 5px;
  width: 50%;
  margin: 20px 0;
  
}

#logo{
  font-weight: 600;
  color: #8357F5;
  font-size: 1.5rem;
}

/* keyframes */
@keyframes color-fade{
  to{background-color: lightcyan}
}

@media (min-width: 768px){
  .text-wrap-r{
    clear: left;
    float: right;
    margin: 10px;
  }
  
  .text-wrap-l{
    clear: right;
    float: left;
    margin: 10px;
  }

  .container{
    max-width: 55% !important;
  }

  .container .width-80{
    max-width: 80%;
  }

  .vh-75{
    height: 75vh;
  }

 
}

@media (min-width: 576px) {
  .pull-right-sm{
    float: right;
    margin-left: 10px;
  }

 
}
 
@media (max-width: 576px){
  .general-image{
    margin-bottom: 1em;
    display: block;
    text-align: center;
    }
    #pronouns{
      text-align: center;
    }
}

