*{
  box-sizing: border-box;
}

nav ul{
  list-style: none;
}

.flex-container{
  display: flex;
  justify-content: center;

}

.flex-child a{
  font-size: 1.2rem;
}

p{
  font-size: 1.1rem;
}

img{
  max-width: 250px;
}

#pronouns{
  font-style: italic;
}

.text-wrap-r{
  clear: left;
  float: right;
  margin: 10px;
}

.text-wrap-l{
  clear: right;
  float: left;
  margin: 10px;
}
