*{
  box-sizing: border-box;
}

nav ul{
  display: inline-block;
  
}

nav li{
  display: inline;
  
}
.flex-container{
  display: flex;
  justify-content: center;
}

.flex-child{
  font-size: 1.7rem;
  flex: 0 100px;
  text-align: center;
  padding: 10px 0px;
}

main{
  margin-left: 5%;
}

main p{
  font-size: 3rem;
}