*{
  box-sizing: border-box;
}

nav ul{
  list-style: none;
}

.flex-container-nav{
  display: flex;
  justify-content: center;

}

.flex-child-nav a{
  font-size: 1.2rem;
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1{
  font-size: 4rem;
  text-justify: center;
}

h2{
  font-size: 1.7rem;
}


p{
  font-size: 1.2rem;
}

img{
  max-width: 250px;
}

#pronouns{
  font-size: 1.5rem;
  font-style: italic;
}

.border-secondary {
  border-width: 3px !important;
}

@media (min-width: 768px){
  .text-wrap-r{
    clear: left;
    float: right;
    margin: 10px;
  }
  
  .text-wrap-l{
    clear: right;
    float: left;
    margin: 10px;
  }

 
}

@media (min-width: 576px) {
  .pull-right-sm{
    float: right;
  }

 
}
 
@media (max-width: 576px){
  .general-image{
    margin-bottom: 1em;
    display: block;
    text-align: center;
    }
    #pronouns{
      text-align: center;
    }
}

